.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.container h1{
 font-size: 3rem;
}

.calculator{
 background-color:#f6f6f6;
 box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #e6e6e6;
 border-radius: 2rem;
 width: 22rem;
 font-weight: bold;
 font-size: 2rem;
 padding-top: 4rem;
}

.input{
font-size: 4rem;
display: flex;
justify-content: flex-end;
width: 85%;
margin: auto;
padding-right: 1rem;
}

.values{
color: #000000;
margin:  1rem auto 2rem auto;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 0.7rem;
}

.unit{
background-color:#f6f6f6;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 3px 3px 10px #c4c4c4, -3px -3px 10px #ffffff;
border-radius: 50%;
width: 3.9rem;
height: 3.9rem;
margin-bottom: 0.5rem;
}

.unit-0{
border-radius: 40%;
flex-grow: 0.4;
padding-left: 1.5rem;
justify-content: flex-start;
}
